#services{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.s-box {
    display: flex;
    width: 100%;

}
.s-left {
    flex: 1;
    position: relative;
    display: flex;
    text-align: end;
    align-items: center;
    font-weight: 800;
    padding: 0 10px;
  }
 

#s-right{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#s-right ul{
  padding: 0;
}
#s-right img{
  width: 13px;
  height: 15px;
}

.display-filter {
    display: flex;
    align-items: center;
  }
  .marg-filter {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .marg-title-filter {
    margin-right: 20px;
  }
  .icon-check {
    content: "";
    background-image: url("../assets/icons/check-solid.svg");
    width: 13px;
    height: 15px;
  }
  .filter-text-icons {
    cursor: pointer;
    border: 1px solid $color-2;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    margin:0 20px 15px 0;
    color: $color-1;
    font-family: $font-1;
    font-weight: 800;
    padding: 0;
    background-color: #16161a;
    box-shadow: inset 0 0 4px rgba(155, 155, 155, 0.528), 0 0 5px $color-2, 0 0 6px $color-1;
    transition: all 0.5s ease-out
  }
  .filter-text-icons:hover > .filter-text {
    color: $color-2;
    cursor: pointer;
  }
  .filter-text-icons:hover > .filter-icons {
    color: white;
    background-color: $color-2;
    cursor: pointer;
  }
  .filter-text-icons:hover {
    background-color: rgb(242, 242, 242);
  }
  .filter-text {
    height: 50px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
  }
  .filter-icons {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: $color-2;
    background-color: rgb(249, 220, 220);
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.flex-between {
    display: flex;
    align-items: center;
  }
  .service-text {
    font-size: 18px;
    max-width: 800px;
    padding: 20px 25px 20px 25px;
    margin-top: 30px;
    border: 1px solid $color-2;
    border-radius: 30px;
    box-shadow: 0 0 10px $color-1;
    
  }
  .service-text div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .service-text img {
    border-radius: 30px;
    box-shadow: 0 0 10px $color-4;
    height: auto;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 800px) {
    .s-box {
      flex-direction: column;
      align-items: center;
    }
    .s-left {
      text-align: center;
    }
  }
  @media screen and (max-width: 585px) {


  .service-text img {
    width: 250px;
  }
 
  }
  @media screen and (max-width: 400px) {
    .filter-text-icons {
      width: 100%;
      margin: 0 0 15px
    }
    .s-right {
      margin-left: 0;
      margin-right: 0;
    }
  }